[submodule "multibuild"]
	path = multibuild
	url = https://github.com/jameskermode/multibuild.git
[submodule "QUIP"]
	path = QUIP
	url = https://github.com/libAtoms/QUIP
[submodule "gfortran-install"]
	path = gfortran-install
	url = https://github.com/MacPython/gfortran-install
